<div class="show-avatar">
  <ul>
    <li>
      Name: <%= @avatar.name %>
    </li>
    <li>
      Town: <%= @avatar.town %>
    </li>
  </ul>
</div>

<div class="crud-index">
  <%= link_to "Avatars Index", admin_avatars_path %>
</div>
